@charset "utf-8";
/* CSS Document */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

li {
    float: left;
}

li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #ddd;
}

li a.active {
    color: white;
    background-color: #4CAF50;
}
.p {
	font-weight: 900;
	margin-left: 80px;
	margin-bottom: 30px;
	}
.h {
	font-size: 40px;
	font-family: "微软雅黑";
	margin-left: 80px;
}
input {
	margin-left: 80px;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 400px;
}
.box {
	border-style: solid;
	border-width: 1px;
	position: fixed;
	left: 550px;
	top: 100px;
	width: 500px;
	height: 250px;
	word-wrap: break-word; 
	word-break: break-all;
	overflow: auto;
	padding-left: 10px;
	padding-right: 10px;
}